@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Mukta&family=Oswald:wght@200&display=swap');



html {
  scroll-behavior: smooth; 
}

body {
   margin: 0px;
   /* margin-top: 10px; */
   padding: 0px;
}

/* nav {
   height: 100vh;
   width: 40%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(43, 138, 116);
   overflow: auto;
   height: 100%;
} */

.sidebar-navigation {
  top: 0;
  width: 15%;
  float: left;
  height: 100%;
  position: fixed;
  background-color: rgb(43, 138, 116);
  z-index: 10;
}

/* .page-content {
  top: 0;
  width: 62%;
  float: right;
} */

.links {
   display: block;
   text-align: center;
   padding: 14px;
   color: white;
   text-decoration: none;
   font-size: 17px;
}

.links:hover {
   background-color: rgb(100, 100, 100);
}

#image:hover{
   background-color: rgb(43, 138, 116);
}

#name:hover {
  background-color: rgb(216, 108, 112);
}

.sections {
  float: right;
  padding-top: 80px;
  position: relative;
  width: 85%;
  display: inline-block;
  height: auto;
  left:0;
  text-align: center;
  
}


/*SECTION 1 CSS*/

#section1 {
  height : 400px;
  
  color: white;
  background-image: url(file:///Users/nishan/nishan-website/public/city1.jpg);
  opacity: 0.8;
  position: relative;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  /*margin-left: 40px;*/
}

.button-down{
  color: white;
  text-decoration: none;
}


/*Section 1 ENDS*/



#section2 {
  height : 600px;
  background-color: black;
  position: relative;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
  
  text-align: center;
}











/*SECTION 3 DESIGN */


#section3 {
  height : 700px;
  background-color: black;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;  

}


.projects {
  background-color: black;
  color: white;
  margin-left: 40px;
  padding: 10px; 
  width: 300px;
  height:200px;
  border: 5px solid green;
  text-decoration: none;

}


.container{
  background: #e1eec3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f05053, #e1eec3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: white;
  width: 300px;
  height:200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px; 
  text-decoration: none; 
}

.container2{
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color: white;
  width: 300px;
  height:200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px; 
}

.container3{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  text-align: center;
  color: white;
  width: 300px;
  height:200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 30px; 
}


/*SECTION 4 ----------------  ------------------- ---------//*/

#section4 {
  height: 500px;
  background-color: black;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 15px;
}


.form {
   
  border-radius: 8px;
  background-color: #1d2224;
  padding: 2px;
     

}
.contact {
  color: #46b8a5;
  font-style: italic;
}

.button {
  font-style: italic;
  font-family: Arial;
  border-radius: 15px;
  font-size: 15px;
  background: #46b8a5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;   
}

.social{
  position: relative;
  
   
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 15px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 15px;
}

.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 15px;
}

.fa:hover {
    opacity: 0.7;
}



#section5 {
  padding: 10px;
  background-color: white;
}






